*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper{ 
  max-width: 100%;
  width: 70%;
  margin: auto;
  background: rgb(221,191,52);
  background: linear-gradient(0deg, rgba(221,191,52,1) 2%, rgba(252,10,112,0.9864320728291317) 100%);
  margin-top: 30px;
   
}
.container ul{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}
.profile{
  display: flex;
  flex-direction: row;
  margin: 10px;
  background-color: white;
  padding: 10px;  
  width: 70%;
}
.input{
  display: flex;
  justify-content: center;
  
}
.inputHere{
  padding: 7px;
  margin: 5px;
  width: 89%;
  border-style: none;
  font-style: italic;
  color: rgb(115, 114, 114);
}
.title p{
  font-size: 10px;
  color: rgb(104, 102, 102);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 5px 0 0 5px;
}
@media (max-width: 320px) {
  .container ul{
    grid-template-columns: repeat(1, 1fr);
  }
  .profile{
    width: 200px;
  }
  .wrapper{
    width: 300px;
  }
  .title p{
     font-size: 7px;
     font-weight: 500;
  }
  
}
@media (max-width: 425px) {
  .container ul{
    grid-template-columns: repeat(1, 1fr);
  }
  .profile{
    width: 300px;
  }
  .wrapper{
    width: 380px;
  }

  .title p{
     font-size: 7px;
     font-weight: 500;
  } 
 
}
@media (max-width: 768px) {
  .title p{
    font-size: 10px;
    font-weight: 500;
}
.profile{
  width: 250px;
}

}
